.contact-background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  position: fixed;
  z-index: -1;
}

.contact-container {
  width: 40%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 30vh auto 2em auto;
  box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
}

.contact-form {
  width: 80%;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}

.contact-title {
  text-align: center;
  padding-top: 1em;
}

@media only screen and (max-width: 600px) {
  .contact-background {
    display: none;
  }

  .contact-container {
    width: 85%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 150px auto 2em auto;
    box-shadow: 0px 0px 4px rgba(50, 50, 50, 0.7);
  }

  .contact-form {
    width: 100%;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-title {
    text-align: center;
    padding-top: 1em;
  }
}
