.profile-contianer {
  box-shadow: 0px 0px 4px rgba(92, 92, 92, 0.267);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 7em;
  margin-bottom: 4em;
}

.profile-personal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em 1em;
}

.profile-info {
  width: 50%;
  font-size: 1.2rem;
  color: rgb(75, 75, 75);
  font-family: Poppins;
}

.profile-info div:first-child {
  font-size: 3rem;
  margin-bottom: 0.4em;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 2px 4px 1px rgba(36, 36, 36, 0.466);
}

.profile-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}

.gallery-img {
  transition: 1s ease-in-out;
}

.gallery-img:hover {
  /* filter: grayscale() blur(2px); */
}

.profile-services {
  width: 100%;
  height: 350px;
  background-color: rgb(240, 240, 240);
  overflow-y: scroll;
}

.profile-service-details {
  width: 100%;
  height: 80px;
  font-family: Poppins;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.profile-service-icons {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.profile-service-desc {
  width: 500px;
  overflow-x: hidden;
  color: rgb(82, 82, 82);
}

.profile-service-price-time {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.profile-sec-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.noti-subs {
  padding-top: 16px;
  text-align: center;
  position: fixed;
  left: 20px;
  top: 80px;
  width: 200px;
  height: 120px;
  background-color: #2e7d32;
  color: rgb(230, 230, 230);
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: Poppins;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error {
  background-color: rgb(190, 29, 29);
}

.fast-access {
  background-color: white;
  color: rgb(54, 54, 54);
  margin-top: 10px;
  width: 100%;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
  .profile-contianer {
    box-shadow: 0px 0px 4px rgba(92, 92, 92, 0.267);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 200px;
    margin-bottom: 4em;
  }

  .profile-personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1em;
  }

  .profile-info {
    width: 95%;
    font-size: 1rem;
    padding-top: 16px;
    color: rgb(75, 75, 75);
    font-family: Poppins;
    text-align: center;
  }

  .profile-info div:first-child {
    font-size: 1.5rem;
    margin-bottom: 0.4em;
  }

  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 2px 4px 1px rgba(36, 36, 36, 0.466);
  }

  .profile-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .gallery-img {
    transition: 1s ease-in-out;
  }

  .gallery-img:hover {
    transform: scale(1.05);
  }

  .profile-services {
    width: 100%;
    height: 350px;
    background-color: rgb(240, 240, 240);
  }

  .profile-service-details {
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: Poppins;
    scroll-behavior: smooth;
  }

  .profile-service-icons {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
  }

  .profile-service-desc {
    width: 100%;
    font-size: 0.8rem;
    overflow-x: hidden;
    color: rgb(82, 82, 82);
  }

  .profile-service-price-time {
    width: 30%;
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .profile-sec-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .noti-subs {
    padding-top: 8px;
    text-align: center;
    position: fixed;
    left: 0px;
    top: 125px;
    width: 100%;
    height: 80px;
    background-color: #2e7d32;
    color: rgb(230, 230, 230);
    border-radius: 4px;
    font-size: 0.8rem;
    font-family: Poppins;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 100000;
  }

  .error {
    background-color: rgb(190, 29, 29);
  }

  .fast-access {
    background-color: white;
    color: rgb(54, 54, 54);
    margin-top: 10px;
    width: 100%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 4px;
  }
}
